@font-face {
  font-family: 'Blok';
  src : url('../fonts/Blok.ttf')  format('truetype'),
}
@font-face {
  font-family: 'Rock';
  src : url('../fonts/f2.ttf')  format('truetype'),
}
#bg{
  background-color: #232426;
  border: 2px solid silver;
  border-radius: 5px;
}
#main-ct{
  background-image: url(../images/bg1.jpg);
  width:100%;

  padding:0px;
  margin:0px;
}
a{
  font-family: Blok;
}
p{
  font-family: Rock;
  color: silver;
  font-size: 16px;

  margin:15px;
  padding: 5px;
}
h1{
  font-family: Blok;
  color: silver;

margin:15px;
padding: 5px;
}
iframe {
  margin:20px;
  padding :10px;
  border:5px solid silver;
  border-radius: 10px;
}
#members{
  background-image: url(../images/piano.jpg);
  border: 5px solid #5D646A;
  border-right-width: 0px;
  border-left-width: 0px;
}
#nv{
  border:5px solid silver;
  border-radius: 10px;
  width: 100%;
}
.tn{
    border:5px solid silver;
    border-radius: 10px;
    margin:20px;
}
img{

  margin:20px;
  border:5px solid silver;
}
a{
  border:5px solid #5D646A;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;

}
footer{
  background-color:#232426;
  margin: 0px;
  padding: 0px;
}
